======current
<div class="col-md-12">
    <div class="file_input_div ">
        <div class="row m-b-20">
            <div id="picture877347475value">
                <input type="hidden" data-val="true" data-val-required="The Int32 field is required." id="CompanyProfile_LogoId" name="CompanyProfile.LogoId" value="43">
            </div>
            <div class="m-r-10 file-upload upload-picture-block">
                <div class="picture-container">
                    <div id="picture877347475image" class="uploaded-image">
                        <img src="/i/43/4.png" width="150" height="100">
                    </div>
                </div>
            </div>
            <div class="col-md-8 m-t-20">
                <div class="row">
                    <div class="upload-button-container">
                        <div id="picture877347475" class="upload-image-button float-left px-md-1">
                            <noscript>
                                <p>Please enable JavaScript to use file uploader.</p>
                            </noscript>
                            <div>
                                <div class="qq-uploader-selector qq-uploader">
                                    <div class="qq-upload-drop-area-selector qq-upload-drop-area" qq-hide-dropzone="" style="display: none;">
                                        <span>Drop files here to upload</span>
                                    </div>
                                    <div class="qq-upload-button-selector btn bg-gradient-green" style="position: relative; overflow: hidden; direction: ltr;">
                                        <div class="upload font-bold">Upload new image</div>
                                        <input qq-button-id="e8a0e106-5369-4b3a-9e56-e06930649032" title="file input" type="file" name="qqfile" style="position: absolute; right: 0px; top: 0px; font-family: Arial; font-size: 118px; margin: 0px; padding: 0px; cursor: pointer; opacity: 0; height: 100%;">
                                    </div>
                                    <div class="remove-image-button float-right px-md-1">
                                        <div id="picture877347475remove" class="btn bg-gradient-green upload font-bold">Remove image</div>
                                    </div>
                                    <span class="qq-drop-processing-selector qq-drop-processing qq-hide">
                                        <span>Processing dropped files...</span>
                                        <span class="qq-drop-processing-spinner-selector qq-drop-processing-spinner"></span>
                                    </span>
                                    <ul class="qq-upload-list-selector qq-upload-list"></ul>
                                    <ul>
                                        <li>
                                            <p class="upload font-normal">Logos help your customers recognize you.</p>
                                        </li>
                                        <li>
                                            <p class="upload dull-font">Use a png with a transparent background for best results. Minimum size 640px x 480px.</p>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>
    <script type="text/template" id="picture877347475-qq-template">
        <div class="qq-uploader-selector qq-uploader">
            <div class="qq-upload-drop-area-selector qq-upload-drop-area" qq-hide-dropzone>
                <span>Drop files here to upload</span>
            </div>
            <div class="qq-upload-button-selector btn bg-gradient-green">
                <div class="upload font-bold">Upload new image</div>
            </div>
            <div class="remove-image-button float-right px-md-1">
                <div id="picture877347475remove" class="btn bg-gradient-green upload font-bold">Remove image</div>
            </div>
            <span class="qq-drop-processing-selector qq-drop-processing">
                <span>Processing dropped files...</span>
                <span class="qq-drop-processing-spinner-selector qq-drop-processing-spinner"></span>
            </span>
            <ul class="qq-upload-list-selector qq-upload-list">
                <li>
                    <div class="qq-progress-bar-container-selector">
                        <div class="qq-progress-bar-selector qq-progress-bar"></div>
                    </div>
                    <span class="qq-upload-spinner-selector qq-upload-spinner"></span>
                    <span class="qq-edit-filename-icon-selector qq-edit-filename-icon"></span>
                    <span class="qq-upload-file-selector qq-upload-file"></span>
                    <input class="qq-edit-filename-selector qq-edit-filename" tabindex="0" type="text">
                    <span class="qq-upload-size-selector qq-upload-size"></span>
                    <a class="qq-upload-cancel-selector qq-upload-cancel" href="#">Cancel</a>
                    <a class="qq-upload-retry-selector qq-upload-retry" href="#">Retry</a>
                    <a class="qq-upload-delete-selector qq-upload-delete" href="#">Delete</a>
                    <span class="qq-upload-status-text-selector qq-upload-status-text"></span>
                </li>
            </ul>
            <ul>
                <li>
                    <p class="upload font-normal">Logos help your customers recognize you.</p>
                </li>
                <li>
                    <p class="upload dull-font">Use a png with a transparent background for best results. Minimum size 640px x 480px.</p>
                </li>
            </ul>
        </div>
    </script>
    <script>
        $(document).ready(function () {
            $("#picture877347475").fineUploader({
                request: {
                    endpoint: '/Customer/Image/AsyncUpload'
                },
                template: "picture877347475-qq-template",
                multiple: false,
                validation: {
                    allowedExtensions: ["bmp", "gif", "jpeg", "jpg", "jpe", "jfif", "pjpeg", "pjp", "png", "tiff", "tif", "webp"]
                }
            }).on("complete", function (event, id, name, responseJSON, xhr) {
                if (responseJSON.success) {
                    $("#picture877347475image").html("<img src='" + responseJSON.imageUrl + "' width='150' height='100' />");
                    $("#picture877347475value input").val(responseJSON.pictureId);
                    $("#picture877347475remove").show();
                }
            });
            $("#picture877347475remove").click(function (e) {
                $("#picture877347475image").html("<img src='/images/default.svg' width='150' height='100' />");
                $("#picture877347475value input").val(0);
                $("#picture877347475 .qq-upload-list-selector").empty();
                $(this).hide();
            });

            if ($("#picture877347475value input").val() === "") {
                $("#picture877347475remove").hide();
            }
        });
    </script>

</div>


<div class="col-md-12">
    <div class="file_input_div ">
        <div class="row m-b-20">
            <div class="file-upload">
                <div class="file_input">
                    <label class="upload-text">
                        <i class="m-r-10 mdi mdi-upload"></i>
                        <input id="file_input_file" class="none" type="file">
                    </label>
                </div>
                <div id="file_input_text_div" class="mdl-textfield mdl-js-textfield textfield-demo">
                    <input class="file_input_text mdl-textfield__input no-border" type="text" disabled="" readonly="" id="file_input_text">
                    <label class="mdl-textfield__label" for="file_input_text"></label>
                </div>
            </div>
            <div class="col-md-8 m-t-20">
                <p class="upload font-bold">Upload new photo  <span class="pr-16 pl-16 tab2 ">|</span>  Remove photo</p>
                <p class="upload font-normal">Logos help your customers recognize you.</p>
                <p class="upload dull-font">Use a png with a transparent background for best results. Minimum size 640px x 480px.</p>
            </div>
        </div>
    </div>

</div>