@{
    ViewData["Title"] = "Forgot Password Confirmation";
    Layout = "_IdentityLayout";
}

<div class="login-box-login">
    <div class="col-md-12 pl-0 pr-0 pb-30">
        <h2>FORGOT PASSWORD</h2>
    </div>
    <div class="col-md-12 pl-0 pr-0">
        <form asp-controller="Account" asp-action="ForgotPassword" role="form" method="get">

            @*<div class="form__group mb-20">
            <input type="text" id="code" class="form__field" placeholder="Your Code">
            <label for="code" class="form__label">Enter Code</label>
        </div>*@
            <div class="col-md-12  row">
                <span class="mb-20 text2">Reset authorization link has been sent to your email. Please check your inbox and your junk/spam folder.</span>
            </div>


            <div class="">
                <button class="btn float-right btn-primary">SEND RESET EMAIL</button>
            </div>
            <div class="pr-0 ">
                <div class="text4 mt-20">Privacy Policy and Terms of Service apply</div>
            </div>
        </form>
    </div>
    <div class="col-md-12 pl-0 pr-0">
        <hr class="">
        <p class="mb-0"><a asp-action="Login"><strong>Login</strong></a></p>
        <p class="mb-0">Don’t have an account? <a asp-controller="SignUp" asp-action="Index"><strong>Sign Up.</strong></a></p>
    </div>
    <div class="col-md-12">
        <img class="login-footer" src="/assets/images/airconlogo.png">
    </div>

</div>


