@{
    Layout = "/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "SignUp";


    string backButton = (ViewData["OnboardingBackAction"] ?? string.Empty) as string;


}



@section Styles {
    <link rel="stylesheet" href="/assets/libs/css/login.css">
 
@if (IsSectionDefined("PageStyles")){
     @RenderSection("PageStyles", required: false)}
}


<div class="dashboard-header w-hidden">
    <nav class="navbar navbar-expand-lg bg-sandle fixed-top">
        <a class="navbar-brand" href="index.html">
            <i class="ml-10 mdi mdi-arrow-left txt-black m-back-icon"></i>
        </a>
    </nav>
</div>


<div class="login-box login-box-overlay">

    <div class="await-box-quotebox m-hidden">

        @if (!string.IsNullOrEmpty(backButton))
        {
            <div class="back-button">
                <a class="navbar-brand" href="/SignUp/@ViewData["OnboardingBackAction"]">
                    <i class="ml-10 mdi mdi-arrow-left txt-black m-back-icon"></i>
                </a>
            </div>
        }
        <div class="quote-container">
            <img class="img-center img-responsive" src="@ViewData["OnboardingImage"]" alt="" />
        </div>
    </div>

    <div class="login-box-formbox pull-top">
        @RenderBody()
    </div>
</div>

@section Scripts {
    @RenderSection("PageScripts", required: false)
}