@model AddressViewModel

@{
    ViewData["Title"] = "GETTING THINGS UP";
    Layout = "_GettingUpLayout";
    ViewData["OnboardingImage"] = "/assets/onboarding/SetupPayments.png";
}

<div class="login-box-login center ">
    <div class="col-md-12 pl-0 pr-0 mb-20 center">
            <center><h2>GETTING THINGS SET UP</h2></center>
            <center><h3 class="mt-20 font-5">Processing you payment.......<i class="m-r-10 mdi txt-green mdi-check-circle"></i></h3></center>
            <center><h3 class="mt-20 font-5">Creating your account...........<i class="m-r-10 mdi txt-green mdi-check-circle"></i></h3></center>
            <center><h3 class="mt-20 font-5">Tidying things up....................<i class="m-r-10 mdi txt-green mdi-check-circle"></i></h3></center>
            <center>
                <div class="col-md-5 mt-30">
                    <button class="btn float-right btn-primary center">GET STARTED</button>
                </div>
            </center>
    </div>
</div>