@model SignUpViewModel

@{
    ViewData["Title"] = "SIGN UP";
    Layout = "_IdentityLayout";
}

<div class="login-box-login" id="pwd-container">
    <div class="col-md-12 pl-0 pr-0 pb-30">
        <h2>SIGN UP</h2>
    </div>
    <div class="col-md-12 pl-0 pr-0">
        <form asp-controller="SignUp" asp-action="SignUpPost" method="post" role="form">

            <div class="form__group mb-20">
                <input asp-for="Email" class="form__field" placeholder="Password" id="email" type="text" autofocus>
                <label for="email" class="form__label">Email</label>
                <span asp-validation-for="Email" class="errortxt"></span>
            </div>

            <div class="form__group mb-20">
                <input asp-for="Password" class="form__field pwstrength_check" placeholder="Password" type="password" id="password" autofocus>
                <label for="password" class="form__label">Password</label>
                <span asp-validation-for="Password" class="errortxt"></span>
            </div>

            <div class="form__group mb-20">
                <input asp-for="ConfirmPassword" id="confirmpassword" placeholder="Confirm Password" type="password" class="form__field" required autofocus>
                <label for="confirmpassword" class="form__label">Re-enter Password</label>
                <span asp-validation-for="ConfirmPassword" class="errortxt"></span>
            </div>

            <div class="mt-20">
                <div class="form-group">
                    <span class="pwstrength_viewport_progress"></span>
                    <span class="font-bold pwstrength_viewport_verdict">Password Strength:</span>
                </div>
                <span class="text4 mt-20">Privacy Policy and Terms of Service apply</span>
            </div>
            <div class="">
                <button class="btn float-right btn-primary">SIGN UP</button>
            </div>

        </form>
    </div>
    <div class="col-md-12 pr-0 pl-0">
        <hr class="">
        <p class="mb-0">Already a user?<a asp-action="Login" asp-controller="Account"> <strong>Sign in.</strong></a></p>
    </div>

    <div class="col-md-12">

        <img class="login-footer" src="/assets/images/airconlogo.png">

    </div>
</div>

@section PageScripts {
    <environment names="Development,Staging,Production,Testing">
        <script src="~/lib/pwstrength/pwstrength-bootstrap.min.js"></script>
        <script src="~/lib/pwstrength/zxcvbn.js"></script>
    </environment>

    <script type="text/javascript">
        $(document).ready(function () {
            var options = {};
            options.ui = {
                container: "#pwd-container",
                viewports: {
                    progress: ".pwstrength_viewport_progress",
                    verdict: ".pwstrength_viewport_verdict"
                }
            };
            options.common = {
                zxcvbn: true,
                zxcvbnTerms: ['aircon', 'frieght', 'cargo', 'air', 'asdy'],
                userInputs: ['#year', '#familyname']
            };
            $('.pwstrength_check').pwstrength(options);

        });
    </script>
}