<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="assets/vendor/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/libs/css/login.css">
    <link rel="stylesheet" href="assets/libs/css/form.css">
    <link rel="stylesheet" href="assets/libs/css/style.css">
    <link rel="stylesheet" href="assets/vendor/fonts/material-design-iconic-font/css/materialdesignicons.min.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700;800;900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">


    <title>Activate</title>
</head>

<body>

    <div class="container">



        <h1 class="display-4 text-center mb-4">Modal Windows</h1>

        <div class="row mb-4">
            <div class="col text-center">
                <h3>Activate user popup</h3>
                <a href="#" class="btn btn-lg btn-success" data-toggle="modal" data-target="#basicModal">Activate</a>
            </div>
        </div>


        <!-- Activate modal -->
        <div class="modal fade" id="basicModal" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <i class="m-r-10 mdi txt-black mdi-close"></i>
                        </button>
                    </div>
                    <div class="col-md-9 center">
                        <h4 class="text-center m-t-10 bold">ACTIVATING USER</h4>
                        <p class="mt-20 pb-0 font-normal text-center txt-14">You are about to activate this user. They will be notified via email.</p>
                    </div>
                    <div class="center pb-30">
                        <button class="btn  btn-primary">ACTIVATE</button>
                        <button class="btn btn-secondary"> CANCEL</button>
                    </div>

                </div>
            </div>
        </div>



        <div class="row mb-4">
            <div class="col text-center">
                <h3>Change Password</h3>
                <a href="#" class="btn btn-lg btn-success" data-toggle="modal" data-target="#basicModal1">Change password</a>
            </div>
        </div>


        <!-- change password modal -->
        <div class="modal fade" id="basicModal1" tabindex="-1" role="dialog" aria-labelledby="basicModal1" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="bg-changepsw">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <i class="m-r-10 mdi txt-black mdi-close"></i>
                            </button>
                        </div>
                        <img class="img-center pb-30 img-responsive" src="assets/images/passwordchanged.png" alt="" />
                    </div>
                    <div class="col-md-9 center">
                        <h4 class="text-center mt-20 bold">PASSWORD CHANGED</h4>
                        <p class="mt-20 pb-0 font-normal text-center txt-14">Your password has been successfully changed. Please login again using the new password.</p>
                    </div>
                    <div class="center pb-30">
                        <button class="btn  btn-primary">Login</button>

                    </div>

                </div>
            </div>
        </div>

        <div class="row mb-4">
            <div class="col text-center">
                <h3>User Profile</h3>
                <a href="#" class="btn btn-lg btn-success" data-toggle="modal" data-target="#basicModal2">User profile</a>
            </div>
        </div>

        <!-- change User profile modal -->
        <div class="modal fade" id="basicModal2" tabindex="-1" role="dialog" aria-labelledby="basicModal1" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">

                    <div class="modal-header green-top">
                        <h6 class=" subtitle1 p-0 bold">User Profile</h6>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <i class="m-r-10 mdi txt-black mdi-close"></i>
                        </button>
                    </div>

                    <div class="modal-body">
                        <div class=" subtitle1 p-0 normal-font m-b-10">Rahul Nair</div>
                        <div class="user-card">
                            <div class="subtitle1 bold p-0">Details</div>
                            <div class="row">

                                <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12 col-12">
                                    <figure class="figure m-t-10">
                                        <figcaption class="figure-caption">
                                            <h6 class="figure-title">USER ID</h6>
                                            <p class="text-muted mb-0">1114546566</p>
                                        </figcaption>
                                    </figure>
                                </div>
                                <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12 col-12">
                                    <figure class="figure m-t-10">
                                        <figcaption class="figure-caption">
                                            <h6 class="figure-title">USER NAME</h6>
                                            <p class="text-muted mb-0">Rahul Nair</p>
                                        </figcaption>
                                    </figure>
                                </div>
                                <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12 col-12">
                                    <figure class="figure m-t-10">
                                        <figcaption class="figure-caption">
                                            <h6 class="figure-title">EMAIL</h6>
                                            <p class="text-muted mb-0">example@example.com</p>
                                        </figcaption>
                                    </figure>
                                </div>
                                <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12 col-12">
                                    <figure class="figure m-t-10">
                                        <figcaption class="figure-caption">
                                            <h6 class="figure-title">ACTIVE SINCE</h6>
                                            <p class="text-muted mb-0">January 02 2021</p>
                                        </figcaption>
                                    </figure>
                                </div>


                            </div>
                        </div>

                        <div class="row">

                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 m-t-20">
                                <div class="form__group ">
                                    <input type="email" id="email" class="form__field" placeholder="" value="Rahul Nair">
                                    <label for="email" class="form__label">Name on Card</label>
                                </div>
                            </div>


                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 m-t-20">
                                <div class="form__group  ">
                                    <div class="mdl-selectfield ">
                                        <i class="dropdown1 mdi mdi-menu-down"></i>
                                        <select class="browser-default">
                                            <option value="" selcted>Seasky Shipping</option>
                                            <option value="1">Option 1</option>
                                            <option value="2">Option 2</option>
                                            <option value="3">Option 3</option>
                                        </select>
                                    </div>
                                    <label for="text" class="form__label">Company</label>
                                </div>

                            </div>
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 m-t-20">
                                <div class="form__group ">
                                    <input type="email" id="email" class="form__field" placeholder="" value="example@example.com">
                                    <label for="email" class="form__label">Email</label>
                                </div>
                            </div>
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 m-t-20">
                                <div class="form__group ">
                                    <input type="email" id="email" class="form__field" placeholder="" value="+1 (758) 556 8898">
                                    <label for="email" class="form__label">Phone</label>
                                </div>
                            </div>
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 m-t-20">
                                <div class="form__group  ">
                                    <div class="mdl-selectfield">
                                        <i class="dropdown1 mdi mdi-menu-down"></i>
                                        <select class="browser-default">
                                            <option value="" selcted>Active</option>
                                            <option value="1">Option 1</option>
                                            <option value="2">Option 2</option>
                                            <option value="3">Option 3</option>
                                        </select>
                                    </div>
                                    <label for="text" class="form__label">Status</label>
                                </div>

                            </div>
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 m-t-20">
                                <div class="form__group  ">
                                    <div class="mdl-selectfield">
                                        <i class="dropdown1 mdi mdi-menu-down"></i>
                                        <select class="browser-default">
                                            <option value="" selcted>Super Admin</option>
                                            <option value="1">Option 1</option>
                                            <option value="2">Option 2</option>
                                            <option value="3">Option 3</option>
                                        </select>
                                    </div>
                                    <label for="text" class="form__label">Privileges</label>
                                </div>

                            </div>
                        </div>

                        <div class="user-card m-t-20">
                            <div class="subtitle1 bold p-0">Conversations</div>

                            <div class="row">
                                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 ">
                                    <ul class="timeline">
                                        <li>

                                            <img class="img-timeline" src="assets/images/logo_air.png">

                                            <div class="col-md-12 m-t-20 timeline-content ">
                                                <p class="upload font-normal"><span class="bold">Aircon</span>, Automated System</p>
                                                <p class="upload dull-font">Approved user.</p>

                                                <p class="datestamp">Yesterday at 11:23am</p>
                                            </div>

                                        </li>
                                        <li>

                                            <img class="img-timeline" src="assets/images/logo_per.png">

                                            <div class="col-md-12 m-t-20 timeline-content ">
                                                <p class="upload font-normal"><span class="bold">Helen Baar</span>, Aircon Support</p>
                                                <p class="upload dull-font">Rahul called, said he mis-spelled his name. Corrected it for him.</p>

                                                <p class="datestamp">Today at 10:00am</p>
                                            </div>

                                        </li>
                                    </ul>
                                </div>

                                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 m-t-20">
                                    <div class="form__group ">
                                        <div class="comment">
                                            <input type="email" id="email" class="form__field grey-bg" placeholder="Say Something…">
                                            <label for="email" class="form__label">Say Something…</label>
                                        </div>
                                    </div>
                                    <div class="commentbtn">
                                        <button class="btn float-right btn-primary m-t-10">LEAVE NOTE</button>
                                    </div>
                                </div>

                            </div>

                        </div>


                    </div>

                    <div class="col-md-12 pb-30">


                        <button class="btn float-right btn-primary">DISCARD CHANGES</button>
                        <button class="btn float-right btn-secondary">SAVE & CLOSE</button>


                    </div>

                </div>
            </div>
        </div>



    </div>
    <script src="assets/vendor/jquery/jquery-3.3.1.min.js"></script>
    <!-- bootstap bundle js -->
    <script src="assets/vendor/bootstrap/js/bootstrap.bundle.js"></script>
</body>

</html>